*{
    padding: 0;
    margin: 0;
    font-family: "Alegreya Sans", sans-serif;
}h2{
    font-family: "Alegreya", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #303030;
}h3{
    font-family: "Alegreya", sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #303030;
}h4{
    font-family: "Alegreya", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #303030;
}p{
    font-size: 17px;
    line-height: 1.88em;
    color: #686868;
}
.container{
    margin: auto;
    padding: 90px 40px 60px;
    display: flex;
    justify-content: center;
    max-width: 920px;
}
html {
    scroll-behavior: smooth;
}
body{
    max-width: 100%;
    overflow-x: hidden;
}

    /* Start Header Section */

.nav-bar{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    height: 90px;
    z-index: 1000;
}
.nav-bar .logo {
    max-width: 170px;
}
.nav-bar .logo img{
    width: 100%;
}
.nav-bar ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 20px;
}
.nav-bar ul li a{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-family: "Alegreya", serif;
    font-size: 19px;
    font-weight: 400;
    transition: all 0.4s ease-in-out;
}
.nav-bar ul li a:hover{
    color: #b5925d;
}

    /* End Header Section */

    /* Main Section */
.main .overlayer{
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.211);
    z-index: 1;
}
.main{
    position: relative;
    max-width: 100%;
    min-height: 92svh;
    background-image: url("../images/bg-home.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}
.s-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 700px;
    width: 90%;
    z-index: 3;
}
.s-main .t-main p{
    color: #ffffffeb;
}
.s-main .t-main h1{
    text-transform: capitalize;
    font-family: "Alegreya", serif;
    font-size: 30px;
    font-weight: 400;
    font-size: 76px;
    margin: 0 0 16px 0;
}
.s-main .t-main p:first-child{
    font-size: 22px;
}
.s-main .t-main p:nth-child(3){
    font-size: 24px;
    margin: 10px 0 50px 0;
    line-height: 1.86em;
}
.s-main .btns a{
    padding: 18px 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}
.btn1{
    background-color: #8e7754;
    border: 2px solid transparent;
    color: white;
}
.btn1:hover{
    background-color: white;
    color: black;
}
.btn2{
    color: white;
    border: 2px solid white;
    background-color: transparent;
    border: 2px solid white;
    margin-left: 10px;
}
.btn2:hover{
    background-color: white;
    color: black;
}
    /* end of main section */

    /* About Section */
.about .img-about{
    width: 50%;
    padding: 0 25px 0 0 ;
    margin:auto;
}
.about .img-about img{
    width: 100%;
    height: auto;
    padding: 0 15px 0;
}
.about .t-about{
    width: 50%;
    padding: 20px 20px 0 40px ;
}
.about .t-about h2{
    margin-bottom: 25px;
}
.about .t-about ul{
    margin: 25px 0 0 0;
    list-style: none;
}
.about .t-about ul li{
    padding: 10px 0 ;
}
.about .t-about ul li span{
    color: #686868;
}
.about .t-about ul li i{
    color: #8e7754;
    margin-right: 10px;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #8e775450;
    padding: 10px;
    width: 22px;
    height: 22px;
    line-height: 23px;
}
    /* end of about section */

    /* Location Section */
.location{
    background-color: #f9f9f9;
}
.location .t-location{
    width: 50%;
    padding: 20px 20px 0 20px;
}
.location .t-location h2{
    margin-bottom: 25px;
    text-transform: capitalize;
}
.location .t-location .p-location{
    margin: 0 0 20px 0;
}
.location .img-location{
    width: 50%;
    padding: 0 0 0 25px;
    margin: auto;
}
.location .img-location img{
    width: 100%;
    height: auto;
    padding: 0 15px 0 ;
}
    /* end of location section */

    /* Baking Section */
.backing{
    text-align: center;
    padding: 90px 20px 60px;
    max-width: 920px;
    margin: auto;
}
.backing .t-backing{
    margin: 0 0 60px;
}
.backing .t-backing p{
    margin-top: 17px;
}
.backing .img-backing{
    display: flex;
    gap: 40px;
}
.backing .img-backing h3{
    margin-top: 20px;
    margin-bottom: 10px;
}
.backing .img-backing img{
    width: 100%;
    height: auto;
}
    /* end of backing section */

    /* Contact Section */
.contact{
    background-color: #f9f9f9;
}
.contact .t-contact{
    width: 50%;
    padding: 20px 40px 0 20px;
}
.contact .t-contact h2{
    margin-bottom: 25px;
}
.contact .t-contact ul{
    list-style: none;
}
.contact .t-contact ul li{
    padding: 10px 0;
}
.contact .t-contact ul li i{
    color: white;
    background-color: #8e7754;
    padding: 10px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 23px;
    margin-right: 10px;
    font-size: 20px;
}
.contact .t-contact ul li span{
    color: #686868;
}
.contact .img-contact{
    width: 50%;
    padding: 0 0 0 25px;
}
.contact .img-contact iframe{
    padding: 0 15px 0;
}
    /* end of contact section */

    /* Summary Section */   
.contaner{
    background-color: #403D38;
    display: flex;
    justify-content: center;
}
.summary{
    display: flex;
    color: #969696;
    padding: 60px 80px;
    max-width: 1200px;
}
.summary div{
    width: 25%;
    padding: 0 16px;
}
.summary div p{
    color: #969696;
    font-size: 16px;
}
.summary div h4{
    color: white;
    margin-bottom: 25px;
}
.summary .one p:nth-child(2){
    margin-bottom: 20px;
}
.summary .two hr ,.summary .three hr, .summary .four hr{
    border: 1px solid #9696960f;
    margin-bottom: 8px;
}
.summary .two ul ,.summary .three ul, .summary .four ul{
    list-style: none;
}
.summary .two ul li , .summary .three ul li{
    height: 40px;
    line-height: 32px;

}
.summary .two ul li::before , .summary .three ul li::before{
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    max-width: 13px;
    font-size: 13px;
    color: #96969688;
}
.summary .four .filter{
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: rgba(64, 61, 56, 0.808);
    z-index: 1;
}
.summary .four{
    background-image: url(../images/contact-details-map.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
}
.summary .four h4,.summary .four ul{
    position: relative;
    z-index: 3;
}
.summary .four ul li:first-child{
    display: flex;
    height: 65px;
}
.summary .four ul li:nth-child(3), .summary .four ul li:nth-child(5),
.summary .four ul li:nth-child(7){
    display: flex;
    height: 45px;
    line-height: 20px;
    margin-top: 20px;
}
.summary .four ul li:first-child span, .summary .four ul li:nth-child(3) span
,.summary .four ul li:nth-child(5) span, .summary .four ul li:nth-child(7) span{
    margin-left: 25px;
    line-height: 25px;
}
.summary .four ul li:first-child::before{
    content: "\f3c5";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
}
.summary .four ul li:nth-child(3):before{
    content: "\f095";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
}
.summary .four ul li:nth-child(5):before{
    content: "\f0e0";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
}
.summary .four ul li:nth-child(7):before{
    content: "\f57d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
}
    /* end of summary section */

    /* Footer Section */
.footer{
    background-color: #353330;
    text-align: center;
    padding: 50px 0 40px;
}
.footer p{
    margin-top: 5px;
    color: #777777;
    font-size: 15px;
}
.footer div{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footer div a{
    margin-top: 25px;
}
.footer div a i{
    color: #777777;
    font-size: 20px;
    border-radius: 50%;
    background-color: #484540;
    width: 40px;
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.footer div a:first-child i:hover{
    background-color: #3b5998;
    color: white;
}
.footer div a:nth-child(2) i:hover{
    background-color: #dd4b39;
    color: white;
}
.footer div a:nth-child(3) i:hover{
    background-color: #0e76a8;
    color: white;
}
.footer div a:nth-child(4) i:hover{
    background-color: #00acee;
    color: white;
}
    /* end of footer section */

    /* media Query*/

/* XLg */
@media screen and (max-width: 1000px){
    .main .s-main h1{
        font-size: 42px;
    }
    .main .s-main p{
        font-size: 18px;
    }
}
/* Lg */
@media screen and (max-width: 991px){
    .main .s-main h1{
        font-size: 42px;
    }
    .main .s-main p{
        font-size: 18px;
    }
    .container{
        max-width: 830px;
    }
    h2{
        font-size: 25px;
    }
    .backing .t-backing h2{
        font-size: 30px;
    }
    .backing{
        max-width: 830px;
    }
    .summary{
        flex-wrap: wrap;
    }
    .summary div{
        padding: 0 8px;
        width: calc( 50% - 16px );
    }
}
/* md */
@media screen and (max-width: 768px){
    .main{
        min-height: 65vh;
    }
    .main .s-main h1{
        font-size: 34px;
    }
    .main .t-main p:first-child{
        font-size: 22px;
    }
    .main .t-main p:nth-child(3){
        font-size: 16px;
    }
    .s-main .btns a{
        font-size: 14px;
        padding: 14px 17px;
    }
}
/* sm */
@media screen and (max-width: 576px) {
    
} 